name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  packages:
    name: check npm install
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          cache: npm
      - name: check npm ci
        run: npm ci
  lint:
    name: run lint
    runs-on: ubuntu-latest
    needs: [packages]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          cache: npm
      - name: npm ci
        run: npm ci
      - name: run lint
        run: npm run lint -- --max-warnings=0
  type-check:
    name: run type-check
    runs-on: ubuntu-latest
    needs: [packages]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          cache: npm
      - name: npm ci
        run: npm ci
      - name: run type-check
        run: npm run type-check
  build:
    name: run build
    runs-on: ubuntu-latest
    needs: [packages]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          cache: npm
      - name: npm ci
        run: npm ci
      - name: run build
        run: npm run build
